mat-nav-list.mat-mdc-nav-list {
  padding: 0;
  mat-list-item {
    height: 40px;
    span.mdc-list-item__content {
      margin-left: 8px;
      a {
        display: flex;
        align-items: center;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
