<div class="header">
  <mat-toolbar class="header__toolbar" color="primary">
    <button mat-icon-button>
      <mat-icon class="material-symbols-outlined">menu</mat-icon>
    </button>
    <span>{{ appSettings.name }}</span>
    <span class="header__toolbar--spacer"></span>
    <button mat-icon-button>
      <mat-icon svgIcon="github"></mat-icon>
    </button>
    <div class="header__toolbar--version">
      <span class="material-symbols-outlined">developer_guide</span>
      <span class="mat-caption"> {{ appSettings.version }}</span>
    </div>
  </mat-toolbar>
</div>
