<div class="header">
	<mat-toolbar class="header__toolbar">
		<span>Command Bus Simplified</span>
		<span class="header__toolbar--spacer"></span>
		<button mat-icon-button
						(click)="openExampleDrawer()">
			<mat-icon fontSet="material-symbols-outlined">layers_clear</mat-icon>
		</button>
		<button mat-icon-button
						[matMenuTriggerFor]="appMenu.menu">
			<mat-icon fontSet="material-symbols-rounded">manage_accounts</mat-icon>
		</button>
	</mat-toolbar>
</div>
<app-user-menu #appMenu></app-user-menu>



