<div class="header">
  <mat-toolbar class="header__toolbar" color="primary">
    <button mat-icon-button (click)="toggleDrawer()">
      <mat-icon class="material-symbols-outlined">menu</mat-icon>
    </button>
    <span>{{ appSettings.name }}</span>
    <span class="header__toolbar--spacer"></span>
    <button mat-icon-button  (click)="goToGitHubRepo()">
      <mat-icon svgIcon="github"></mat-icon>
    </button>
    <button mat-icon-button (click)="checkCommandBusAlive()">
      <mat-icon class="material-symbols-outlined">vital_signs</mat-icon>
    </button>
  </mat-toolbar>
</div>
