<div class="color-resource" *ngIf="resource">
  <div class="color-resource__background" [ngStyle]="{'background': resource.color}">
    <div class="color-resource__background--title">
      <h3>Color of the year</h3>
      <h2>{{ resource.year }}</h2>
    </div>
  </div>
  <div class="color-resource__info">
    <h2 class="color-resource__info--brand">PANTONE<sup class="color-resource__info--brand-reg">&reg;</sup></h2>
    <h4 class="color-resource__info--pantone-value">{{ resource.pantone_value }}</h4>
    <h3 class="color-resource__info--name">{{ resource.name }}</h3>
  </div>
  </div>
