@use "variables/layout";
@use "colors/colors";
@use "functions/color-utils";

$block: 'layout';

.#{$block} {
  height: 100vh;
  background: color-utils.get-primary-color(200);
  &__sidenav {
    width: layout.$navigation-panel-width;
    border-right: solid 1px #{color-utils.get-primary-color(300)};
    background: color-utils.get-primary-color(200);
  }

  &__content {
    overflow: hidden;
    &--header {
      flex: 0 1 100%;
      height: layout.$header-height;
      box-shadow: colors.$header-shadow;
    }
    &--main {
      height: calc(100vh - #{layout.$header-height});
      overflow: hidden;
    }
  }
}
