<div class="layout">
  <header class="layout__header">
    <app-header></app-header>
  </header>
  <mat-drawer-container class="layout__sidenav">
    <mat-drawer mode="side" opened="true">
      <nav class="layout__sidenav--nav">
        <app-nav-bar></app-nav-bar>
      </nav>
    </mat-drawer>
    <mat-drawer-content class="layout__sidenav--content">
      <main class="layout__sidenav--content__main">
        <router-outlet></router-outlet>
      </main>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
