$block: 'layout';

$header-height: 48px;

.#{$block} {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  background: palevioletred;
  overflow: hidden;
  &__header {
    flex: 0 1 100%;
    height: $header-height;
  }

  &__sidenav {
    width: 100%;
    &--nav {
      flex: 0 1 60px;
      height: calc(100vh - $header-height);
    }

    &--content {
      height: calc(100vh - $header-height);
      overflow: auto;

      &__main {
        flex: 1 0 auto;
        padding: 24px; // TODO: Modify padding on mobile layouts
      }
    }

  }

  &__aside {
    flex: 0 1 20vw;
    display: none; // TODO: Remove when has been implemented
  }
}
