$block: 'navigation';

.#{$block} {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--primary-color);

  &--button-wrapper {
    &.active {
      background: var(--primary-accent-color);
    }
  }

}

.active-link {
  background: rgba(255, 255, 255, 0.1);
}
