<div class="nav-bar">
  <div class="nav-bar__header">
    <div class="nav-bar__header--branding">
      <div class="nav-bar__header--branding__logo-wrapper">
        <img ngSrc="assets/images/dog-origami.png" width="60" alt="brand image" height="60">
      </div>
      <h1 class="nav-bar__header--branding__name">Riley</h1>
    </div>
    <div class="nav-bar__header--actions">
      <button mat-stroked-button  color="primary">
        <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
        <span>Option</span>
      </button>
    </div>
  </div>

  <div class="nav-bar__navigation">
    <ng-container *ngFor="let nav of navigation">
      <mat-expansion-panel
        togglePosition="before"
        *ngIf="nav.submenu?.length"
        class="nav-bar__navigation--expansible-menu=item  mat-elevation-z0"
        [routerLinkActive]="'active-menu'"
        #rla="routerLinkActive"
        [expanded]="true">
        <mat-expansion-panel-header>
          <mat-icon [color]="nav.color" fontSet="material-symbols-outlined">{{ nav.icon }}</mat-icon>
          <span>{{ nav.title }}</span>
        </mat-expansion-panel-header>
        <mat-nav-list *ngIf="nav.submenu?.length">
          <mat-list-item *ngFor="let subnav of nav.submenu" [activated]="rla.isActive">
            <a matListItemTitle [routerLink]="nav.path + '/' + subnav.path">
              <span>{{ subnav.title }}</span>
            </a>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-nav-list *ngIf="!nav.submenu?.length">
        <mat-list-item>
          <a matListItemTitle [routerLink]="nav.path">
            <mat-icon color="accent" fontSet="material-symbols-outlined">{{ nav.icon }}</mat-icon>
            <span class="mat-body-strong">{{ nav.title }}</span>
          </a>
        </mat-list-item>
      </mat-nav-list>
    </ng-container>
  </div>
</div>

