$fonts-path: "~app/styles/base/fonts/";
// Font family
$default-font-family: "Roboto";
$default-font-family-bold: "Roboto-Medium";
$alternative-font-family: "Coolvetica";
$alternative2-font-family: "Righteous";

// Font Weight
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-black: 900;

