@use 'variables/layout';
@use 'mixins/config';

$block: 'users';

.#{$block} {
  @include config.default-component-config();

  &__search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
  }

  &__no-results {
    display: flex;
    justify-content: center;
  }
}
