<div class="dialog-base__header">
  <h3 class="dialog-base__header--title mat-h3" mat-dialog-title>
    {{ data.title || "" }}
  </h3>
  <button
    *ngIf="!dialog.disableClose"
    mat-icon-button
    class="dialog-base__header--close-button mat-icon-button"
    mat-dialog-close
  >
    <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
  </button>
</div>

<div class="dialog-base__content" [ngClass]="{ 'no-actions': !data.actions }">
  <ng-container #container></ng-container>
  <p class="dialog-base__content--text" *ngIf="!data.contentComponent">
    {{ data.detail }}
  </p>
</div>
<div class="dialog-base__actions" *ngIf="data.actions">
  <ng-container *ngFor="let action of data.actions">
    <button
      *ngIf="!action.isCancelButton"
      mat-flat-button
      [color]="action.color"
      [disabled]="checkDisabled(action)"
      (click)="processAction(action)"
    >
      <mat-icon *ngIf="action.isCloseButton" fontSet="material-symbols-outlined"
        >done</mat-icon
      >
      <span>{{ action.label }}</span>
    </button>
    <button
      *ngIf="action.isCancelButton"
      mat-stroked-button
      [color]="action.color"
      [disabled]="checkDisabled(action)"
      (click)="processAction(action)"
    >
      <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
      <span>{{ action.label }}</span>
    </button>
  </ng-container>
</div>
