@use '@angular/material' as mat;

$palette-primary: mat.define-palette(mat.$cyan-palette, 700);
$palette-accent: mat.define-palette(mat.$amber-palette);
$palette-warn: mat.define-palette(mat.$pink-palette);

$theme: mat.define-dark-theme((
 color: (
   primary: $palette-primary,
   accent: $palette-accent,
   warn: $palette-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($theme);
